.portraits {
    float: left;
    margin-left: 30px;
    width: 450px;
    box-shadow: 2px 2px 2px 2px ;
    border: 2px solid pink;
}
.nature {
    float: left;
    margin-left: 30px;
    width: 450px;
    box-shadow: 2px 2px 2px 2px ;
    border: 2px solid pink;
}
.weddings {
    float: left;
    margin-left: 30px;
    width: 450px;
    box-shadow: 2px 2px 2px 2px ;
    border: 2px solid pink;
}
.heading{
    border: 2px;
    box-shadow: 2px 2px 2px 2px brown;
    text-align: center;
    height: 80px;
    margin-bottom: 20px;
    color: brown;
}