.portraits {
    float: left;
    margin-left: 10px;
    width: 450px;
}
.nature {
    float: left;
    margin-left: 10px;
    width: 450px;
}
.weddings {
    float: left;
    margin-left: 10px;
    width: 450px;
}